In [1]:
    import csv

    filename = "teachers.csv"
    data = []

    with open(filename, 'r', newline='') as csvfile:
        csvreader = csv.reader(csvfile)
        header = next(csvreader)
        for row in csvreader:
            data.append(row)

    print("Header:", header)
    print("First 5 rows:", data[:5])

Header: ['teacher_id', 'first_name', 'last_name', 'subject']
First 5 rows: [['T1', 'Alice', 'Smith', 'Mathematics'], ['T2', 'John', 'Brown', 'Physics'], ['T3', 'Maria', 'Johnson', 'Literature']]

In [2]:
print(data)

[['T1', 'Alice', 'Smith', 'Mathematics'], ['T2', 'John', 'Brown', 'Physics'], ['T3', 'Maria', 'Johnson', 'Literature']]

In [3]:
teacher_data=[]
for row in range(len(data)):
    teacher_data.append(f"Teacher ID: {data[row][0]} is {data[row][1]} {data[row][2]} and they teach {data[row][3]}")

In [4]:
teacher_data

['Teacher ID: T1 is Alice Smith and they teach Mathematics',
 'Teacher ID: T2 is John Brown and they teach Physics',
 'Teacher ID: T3 is Maria Johnson and they teach Literature']

In [5]:
    filename = "students.csv"
    data = []

    with open(filename, 'r', newline='') as csvfile:
        csvreader = csv.reader(csvfile)
        header = next(csvreader)
        for row in csvreader:
            data.append(row)

    print("Header:", header)
    print("First 5 rows:", data[:5])

Header: ['student_id', 'first_name', 'last_name', 'grade']
First 5 rows: [['S1', 'David', 'Lee', '10'], ['S2', 'Emma', 'Davis', '10'], ['S3', 'Noah', 'Wilson', '11'], ['S4', 'Sophia', 'Clark', '11'], ['S5', 'Liam', 'Hall', '12']]

In [6]:
student_data=[]
for row in range(len(data)):
    student_data.append(f"Student ID: {data[row][0]} is {data[row][1]} {data[row][2]} and they have a grade of {data[row][3]}")

In [7]:
student_data

['Student ID: S1 is David Lee and they have a grade of 10',
 'Student ID: S2 is Emma Davis and they have a grade of 10',
 'Student ID: S3 is Noah Wilson and they have a grade of 11',
 'Student ID: S4 is Sophia Clark and they have a grade of 11',
 'Student ID: S5 is Liam Hall and they have a grade of 12']

In [8]:
    filename = "enrollments.csv"
    data = []

    with open(filename, 'r', newline='') as csvfile:
        csvreader = csv.reader(csvfile)
        header = next(csvreader)
        for row in csvreader:
            data.append(row)

    print("Header:", header)
    print("First 5 rows:", data[:5])

Header: ['enrollment_id', 'student_id', 'teacher_id']
First 5 rows: [['E1', 'S1', 'T1'], ['E2', 'S1', 'T2'], ['E3', 'S2', 'T1'], ['E4', 'S3', 'T2'], ['E5', 'S3', 'T3']]

In [9]:
enrollments_data=[]
for row in range(len(data)):
    enrollments_data.append(f"Enrollment ID: {data[row][0]} is for Student ID: {data[row][1]} and is taught by Teacher ID: {data[row][2]}")

In [10]:
enrollments_data

['Enrollment ID: E1 is for Student ID: S1 and is taught by Teacher ID: T1',
 'Enrollment ID: E2 is for Student ID: S1 and is taught by Teacher ID: T2',
 'Enrollment ID: E3 is for Student ID: S2 and is taught by Teacher ID: T1',
 'Enrollment ID: E4 is for Student ID: S3 and is taught by Teacher ID: T2',
 'Enrollment ID: E5 is for Student ID: S3 and is taught by Teacher ID: T3',
 'Enrollment ID: E6 is for Student ID: S4 and is taught by Teacher ID: T3',
 'Enrollment ID: E7 is for Student ID: S5 and is taught by Teacher ID: T1',
 'Enrollment ID: E8 is for Student ID: S5 and is taught by Teacher ID: T2']

In [11]:
combined_data = teacher_data + student_data + enrollments_data

In [12]:
combined_data

['Teacher ID: T1 is Alice Smith and they teach Mathematics',
 'Teacher ID: T2 is John Brown and they teach Physics',
 'Teacher ID: T3 is Maria Johnson and they teach Literature',
 'Student ID: S1 is David Lee and they have a grade of 10',
 'Student ID: S2 is Emma Davis and they have a grade of 10',
 'Student ID: S3 is Noah Wilson and they have a grade of 11',
 'Student ID: S4 is Sophia Clark and they have a grade of 11',
 'Student ID: S5 is Liam Hall and they have a grade of 12',
 'Enrollment ID: E1 is for Student ID: S1 and is taught by Teacher ID: T1',
 'Enrollment ID: E2 is for Student ID: S1 and is taught by Teacher ID: T2',
 'Enrollment ID: E3 is for Student ID: S2 and is taught by Teacher ID: T1',
 'Enrollment ID: E4 is for Student ID: S3 and is taught by Teacher ID: T2',
 'Enrollment ID: E5 is for Student ID: S3 and is taught by Teacher ID: T3',
 'Enrollment ID: E6 is for Student ID: S4 and is taught by Teacher ID: T3',
 'Enrollment ID: E7 is for Student ID: S5 and is taught by Teacher ID: T1',
 'Enrollment ID: E8 is for Student ID: S5 and is taught by Teacher ID: T2']

In [14]:
import requests
import json

# Ollama API endpoint
OLLAMA_URL = "http://localhost:11434/api/embeddings"
MODEL = "nomic-embed-text"

# Your knowledge base (flattened DB facts)
documents = combined_data

def get_embedding(text):
    payload = {
        "model": MODEL,
        "prompt": text
    }
    response = requests.post(OLLAMA_URL, json=payload)
    response.raise_for_status()
    return response.json()["embedding"]

# Encode all documents
encoded_data = [{"text": doc, "embedding": get_embedding(doc)} for doc in documents]

# Save embeddings to JSON
with open("ollama_embeddings.json", "w") as f:
    json.dump(encoded_data, f)